
@{
    ViewBag.Title = "AddStudent";
}


<link rel="stylesheet" href="~/Content/bootstrap.css">
<br>
<div class="container">
    <form method="post">
        <label>İsim</label>
        <input type="text" name="Name" class="from-control">
        <br>
        <label>Soyİsim</label>
        <br />
        <input type="text" name="SurName" class="from-control">
        <br>
        <label>Öğrenci Numarası</label>
        <br />
        <input type="text" name="Number" class="from-control">
        <br>
        <label>Profil Resmi</label>
        <br />
        <input type="text" name="Image" class="from-control">
        <br>
        <button class="btn btn-info">Öğrenciyi Ekle</button>
    </form>
</div>